core
tmp
*.cmp
cat-vs-mouse
test
punchcard*
.DS_Store
err
cat-and-mouse
hello-world
to-upper-case
multiply
fibonacci
cat-and-mouse.cpp
hello-world.cpp
to-upper-case.cpp
multiply.cpp
fibonacci.cpp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
comp

# Dependency files
*.d

# Backup files
*.bak

#######
saved-ram-*
